@font-face {
    font-family: "Montserrat";
    src: url('./font/Montserrat-Regular.woff2'),
        url('./font/Montserrat-Regular.woff');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url('./font/Montserrat-Bold.woff2'),
        url('./font/Montserrat-Bold.woff');
        font-weight: bold;
        font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url('./font/Montserrat-ExtraBold.woff2'),
        url('./font/Montserrat-ExtraBold.woff');
        font-weight: 800;
        font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url('./font/Montserrat-SemiBold.woff2'),
        url('./font/Montserrat-SemiBold.woff');
        font-weight: 600;
        font-style: normal;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat';
    font-weight: normal;
    overflow-x: hidden;
}
li {
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
h1 {
    margin: 0px;
}
h2 {
    margin: 0px;
}
p {
    margin: 0;
}
ul {
    margin: 0px;
    padding: 0px;
}
.container  {
    width: 100%;
    max-width: 1770px;
    margin: 0 auto;
}
.header {
    padding-top: 15px;
    padding-bottom: 11px;
    -webkit-box-shadow: 0px 0px 29px 4px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 0px 29px 4px rgba(0,0,0,0.22);
    box-shadow: 0px 0px 29px 4px rgba(0,0,0,0.22);
}
.header-container {
    display: flex;
    align-items: center;
}
.nav {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 15px;
}
.nav-list {
    display: flex;
}
.nav-list-item:not(:last-child) {
    margin-right: 84px; 
}
.nav-list-item:nth-child(5) {
    margin-right: 47px;
}

.nav-list-link {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    transition: all 0.3s;
}
.nav-list-link::after {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: #FF9900;
    left: 0;
    bottom: -4px;
    transition: all 0.3s;
}
.nav-list-link:hover::after {
    width: 100%;
}
.nav-list-item_search {
    display: inline-block;
    padding-top: 2px;
    padding-right: 12px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    /* transition-timing-function: ease-in-out;
    transition-duration: 0.6s; */
}
.nav-list-item_search:hover rect {
    fill: #FF9900;
}
.nav-list-item_search:hover circle {
    stroke: #FF9900;
}
.header-logo {
    margin-right: auto;
}
.burger {
    display: none;
    width: 30px;
    height: 26px;
    background-color: #FFFFFF;
    border: none;
    background-image: url(./img/header/Burger.png);
    background-repeat: no-repeat;
}
.hero_container {
    margin-bottom: 91px;
    background-image: url(./img/main/first-photo.jpg);
    background-repeat: no-repeat;
    opacity: 0.9;
}
.hero-container-main {
    padding: 102px  79px;
}
.main-title {
    margin-bottom: 21px;
    max-width: 60%;
    font-size: 70px;
    font-weight: 800;
    line-height: 86px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.main-text {
    margin-bottom: 95px;
    max-width: 50%;
    font-weight: bold;
    font-size: 23px;
    line-height: 29px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}
.main-btn {
    padding: 25px 37px;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    color:#FFFFFF;
    border: none;
    background-color: #FF9900;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 0.7s;
}
.main-btn:hover {
    background-color: rgba(255, 153, 0, 0.6);
}
.info {
    margin-bottom: 43px;
}
.info-title {
    padding-left: 2px;
    margin-bottom: 25px;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #333333;
}
.info-text {
    margin-bottom: 47px;
    max-width: 69.5%;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
}
.info-span {
    display: inline-block;
    margin-left: 4px;
    width: 16px;
    height: 16px;
    background-image: url(./img/info/info-logo.png);
    background-repeat: no-repeat;
    background-position: center;

}
.more {
    display: flex;
    margin-bottom: 101px;
}
.more-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 49%;
    background-image: url(./img/info/more_left_back.png);
    background-repeat: no-repeat;
}
.more-left_text {
    display: flex;
    align-items: center;
    padding-right: 39px;
    padding-top: 39px;
    padding-left: 56px;
    padding-bottom: 39px;
    font-weight: bold;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}
.left-text {
    max-width: 65%;
    font-weight: bold;
    font-size: 16px;
    line-height: 31px;
}
.more-left-btn {
    margin-left: 71px;
    padding: 17px 34px;
    line-height: 20px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    border: 3px solid #FF9900;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
.more-left-btn:hover {
    background-color: #FF9900;
}
 .more-right {
     margin-left: 32px;
     width: 49%;
}
.more-right_card_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 32px;
    padding-top: 42px;
    padding-right: 90px;
    padding-bottom: 66px;
    padding-left: 299px;
    border: 1px solid; 
    background-image: url(./img/info/more-right-box.png);
    background-repeat: no-repeat;
    background-position: top 44% left 10%;
}
.more-right-gears {
    display: flex;
    flex-direction: row;

}
.more-right_card_gears {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 42px;
    padding-right: 90px;
    padding-bottom: 65px;
    padding-left: 299px;
    border: 1px solid; 
    background-image: url(./img/info/mor-right-grinds.png);
    background-repeat: no-repeat;
    background-position: top 38% left 9%;
}
.more-right_card:not(:last-child) {
    margin-bottom: 28px;
}
.more-list-title-first {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
.more-list-text-first {
    font-size: 16px;
    line-height: 32px;
}
.more-list-title-second {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
.more-list-text-second {
    font-size: 16px;
    line-height: 32px;
}
/* Секция 4 */
.work {
    margin-bottom: 99px;
    padding-left: 2px;
}
.work-title {
    margin-bottom: 51px;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #333333;
}
.work-list {
    display: flex;
    margin-bottom: 22px;
    position: relative;
}
.work-list::before {
    content: '';
    position: absolute;
    display: block;
    bottom: 31px;
    width: 466px;
    height: 3px;
    background: #CACACA;
}
.work-list-item::before {
    content: '';
    position: absolute;
    width:50px;
    height: 3px;
    bottom: 31px;
    background: #CACACA;
    transition: all 0.3s ease-in-out;
}
.work-list-item:hover::before {
    background: #FF9900;
}
.work-list-link {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
.work-list-link:hover {
    color: #FF9900;
}

.work-list-item:not(:last-child) {
    margin-right: 89px;
}

.work-container-title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}
.work-container-text {
    margin-bottom: 65px;
    max-width: 85%; 
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}
.work-text-span {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #333333; 
    letter-spacing: 0.1px;
}
.work-contaner {
    display: flex;
    min-height: 475px;
}
.work-container-pic {
    display: block;
    margin-top: 35px;
    min-width: 870px;
    min-height: 465px; 
    background-image: url(./img/work/work.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
}

.work-btns {
    display: flex;
    align-items: center;
}
.work-btn-more {
    display: block;
    padding: 20px 38px;
    color: #FFFFFF;
    background-color: #FF9900;
    border: 2px solid #FF9900;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
.work-btn-more:hover {
    color: #222222;
    background-color: #FFFFFF;
}
.work-btn-document {
    display: block;
    margin-left: 30px;
    padding: 20px 37px;
    border: 1px solid #333333;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
.work-btn-document:hover {
    color: #FFFFFF;
    background: #333333;
    border: 1px solid #333333;
}
/* Секция 5 */
.question {
    margin-bottom: 102px;
}
.question-title {
    font-weight: normal;
    padding-right: 10px;
    padding-bottom: 38px;
    font-size: 48px;
    line-height: 59px;
    border-bottom: 1px solid;
}   
.question-list-item:hover span {
    font-weight: bold;
    color: #FF9900;
    cursor: pointer;
    
}
.question-list-item:hover button {
    opacity: 0.6;
    cursor: pointer;
}
.question-list-item{
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 30px;
    border-bottom: 1px solid;
}
.question-list-item:nth-child(1) {
    padding-top: 29px;
}
.question-list-item:nth-child(2) {
    padding-top: 29px;
}
.question-list-item:nth-child(3) {
    padding-top: 29px;
}
.question-list-item:nth-child(4) {
    padding-top: 28px;
}
.question-list-item:nth-child(5) {
    padding-top: 27px;
}
.question-text  {
    padding-left: 4px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.6s;
}
.question-text:hover{
    font-weight: bold;
    color: #FF9900;
    cursor: pointer;
}   
.question-pic-link {
   margin-left: auto;
   width: 53px;
   height: 54px;
   background-color: #FFFFFF;
   border: none;
   background-image: url(./img/question/plus.png);
   background-repeat: no-repeat;
   background-position: 100% 100%;
   transition-timing-function: ease-in-out;
   transition-duration: 0.5s;
}
.question-pic-link::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Секция 6 */
.footer {
    min-height: 630px;
    background: #222222;
}
.footer-container {
    display: flex;
    padding-top: 48px;
    padding-bottom: 80px;
}
.footer-left {
    max-width: 29%;
}
.footer-img  {
    margin-bottom: 6px;
}
.footer-text {
    max-width: 69%;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}
.footer-socials {
    display: flex;
    margin-top: 41px; 
    min-width: 320px;
}
.footer-socials_hidden {
    display: flex;
    margin-top: 48px; 
    min-width: 320px;
}
.footer-socials-icone:not(:last-child){
    margin-right: 24px;
}
.footer-socials-link {
    display: block;
    width: 61px;
    height: 61px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.7s;
}
.fb {
    background-image: url(./img/footer/fb.png);
    background-repeat: no-repeat;
}
.vk {
    background-image: url(./img/footer/vk.png);
    background-repeat: no-repeat;
}
.insta {
    background-image: url(./img/footer/insta.png);
    background-repeat: no-repeat;
}
.footer-socials-link:hover {
    opacity: 0.6;
}
.footer-middle {
    margin-left: 85px;
    padding-top: 8px;
    min-width: 570px;
}
.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.footer-right {
    align-self: center;
    margin-left: auto;
    padding-right: 17px;
    padding-top: 5px;
    min-height: 300px;
}
.footer-list-link {
    color: #CACACA;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    transition: all 0.3s ease-in-out;
}
.footer-list-link:hover {
    color: #FF9900;
}
.footer-list-item:nth-child(1){
    margin-top: 51px;
}
.footer-list-item:nth-child(2) {
    margin-top: 13px
}
.footer-list-item:nth-child(3) {
    margin-top: 13px
}

.footer-list-item:nth-child(4) {
    margin-top: 14px;
}

.footer-list-item:nth-child(5) {
    margin-top: 15px
}
.footer-list-item:nth-child(6) {
    margin-top: 14px
}
.footer-list-item:nth-child(7) {
    margin-top: 13px
}
.footer-form {
    display: flex;
    flex-direction: column;
}
.footer-title {
    margin-bottom: 26px;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #CACACA;
}
.footer-input-name,
.footer-input-email {
    margin-bottom: 25px;
    background: #414141;
    border-style: none;
}
.footer-input-name {
    padding: 22px 25px;
}
.footer-input-email {
    padding: 20px 25px;
}
.footer-textarea {
    padding: 21px 24px;
    margin-bottom: 32px;
    background: #414141;
    border-style:none;
    resize: none;
}
.footer-btn {
    padding: 20px 54px;
    margin-right: 28px;
    font-weight: bold;
    background-color: #FF9900;
    color: #FFFFFF;
    border: none;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
.footer-btn:hover {
    background-color: rgba(255, 153, 0, 0.6);
    cursor: pointer;
}
.submit-container {
    display: flex;
    align-items: center;
}
.footer-agreement {
    margin-left: 32px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.1px;
}
.footer-label {
    padding-top: 2px;
    align-items: center;
    color: #CACACA; 
    font-size: 16px;
    font-style: normal;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
.footer-label:hover {
    color: #FF9900;
    cursor: pointer;
}
.footer-label input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
   }
   .footer-label span {
       position: relative;
    }
   .footer-label span::before {
       content: '';
       width: 14px;
       height: 14px;
       border: 1px solid #FFFFFF;
       display: inline-block;
       margin-right: 5px;
   }
   .footer-label span::after {
       content: url('./img/footer/green.png');
       position: absolute;
       left: 3px;
       top: -1px;
       width: 7px;
       height: 4px;
       opacity: 0;
   }
   .footer-label input[type="checkbox"]:checked + span::after {
       opacity: 1;
   }

.footer-span-agree {
    display: flex;
    align-items: center;
}
::-webkit-input-placeholder {
    color: #CACACA;
}
.footer-socials_hidden {
    display: none;
}
.footer-logo_hidden{
    display: none;
}
.footer-left-middle {
    display: none;
}
.footer-right-middle {
    display: none;
}

    @media  (max-width:1800px) {
        .container {
            padding: 0 30px;
        }
        .hero_container {
            text-align: center;
        }
        
        .main-title {
            max-width: none;
        }
        .main-text {
            margin: 0 auto;
            width: 55%;
        }
        .main-btn {
            margin-top: 40px;
        }
        .more {
            flex-direction: column;
        }
        .more-right {
            margin-left: auto;
            margin-right: auto;
            min-width: 925px;
        }
        .more-left {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 40px;
            min-height: 648px;
            min-width: 923px;
            background-image: url(./img/info/middle-size-back.png);
        }
        .info-text {
            max-width: none;
        }
        .footer-middle {
            margin-left: 23px;
        }
        .work {
            margin-bottom: 58px;
        }
        .work-container-pic {
            min-width: 438px;
            background-image: url(./img/work/new_work_pic.png);
        }
        .work-container-text {
            max-width: 90%;
            margin-bottom: 29px;
        }
        .nav-list-item:not(:last-child) {
        margin-right: 60px;
        }
        .footer-left {
        display: none;
        }
        .footer-logo_hidden {
        display: block;
        }
        .footer-socials_hidden {
        display: flex;
    }
    /* Секция footer */
    .footer-container {
        padding-top: 48px;
    }
   .footer-middle {
        margin-left: 60px; 
       min-width: 240px;
       padding-top: 11px;
   }
   .footer-right {
        padding-top: 0px;
        padding-right: 0px;
   }
   .footer-img {
       margin-bottom: 0px;
    }
    .footer-list-item:nth-child(1){
        margin-top: 15px;
    }
    .footer-list-item:nth-child(2) {
        margin-top: 29px
    }
    .footer-list-item:nth-child(3) {
        margin-top: 28px
    }
    .footer-list-item:nth-child(4) {
        margin-top: 29px;
    }
    
    .footer-list-item:nth-child(5) {
        margin-top: 27px
    }
    .footer-list-item:nth-child(6) {
        margin-top: 29px
    }
    .footer-list-item:nth-child(7) {
        margin-top: 26px
    }
    .footer-socials_hidden {
        margin-top: 30px;
    }
    .footer-btn {
        padding: 20px 38px;
        margin-right: 13px;
    }
}
@media (max-width:1024px) {
    .container {
        padding: 0 30px;
    }
    .header {
        padding-top: 25px;
        padding-bottom: 22px;
    }
    .header-img {
        max-width: 150px;
    }
    .nav {
        padding-right: 0;
    }
    .nav-list-item:nth-child(5) {
        margin-right: 69px;  
    } 
    .nav-list-item:nth-child(4) {
        margin-right: 60px;  
    } 
    .nav-list-item:nth-child(3) {
        margin-right: 60px;  
    }
    .nav-list-item:nth-child(2) {
        margin-right: 60px;    }
    .nav-list-item:nth-child(1) {
        margin-right: 60px;
    }
    .hero_container {
        margin-bottom: 60px;
        min-height: 668px;
        background-image: url(./img/main/back-for.png);
        background-size: 100% 100%;
        text-align: left;
    }
    .hero-container-main {
        padding-top: 161px;
        padding-left: 45px;
    }
    .nav-list-link {
        font-weight: 600;
        font-size: 16px;
    }
    .burger {
        display: block;
    }
    .nav-list-item_search {
        padding-right: 0px;
        margin-right: 30px;
    }
    .main-title {
        margin-bottom: 14px;
        max-width: none;
        font-size: 60px;
        line-height: 73px;
    }
    .main-text  {
        margin: 0;
        width: 100%;
        margin-bottom: 111px;
        max-width: 84%;
        font-size: 19px;
        line-height: 22px;
        letter-spacing: 0.6px;
    }
    .main-btn {
        margin-top: 0;
        padding: 25px 38px;
    }
    .info-title {
        margin-bottom: 25px;
    }
    .info-text {
        max-width: none;
        margin-bottom: 57px;
    }
    .more {
        flex-direction: column;
        margin-bottom: 61px;
    }
    .more-left {
        margin-bottom: 43px;
        min-height: 648px;
        min-width: 923px;
        background-image: url(./img/info/middle-size-back.png);
    }
    .left-text {
        max-width: 61%;
    }
    .more-left_text  {
        padding-left: 45px;
        padding-right: 50px;
        padding-bottom: 38px;
    }
    .more-left-btn {
        margin-left: auto;
    }
    .more-right  {
        margin-left: 0px;
        width:  100%;
    }
    .more-right_card_box {
        margin-bottom: 39px;
        padding-right: 99px;
        padding-top: 42px;
        padding-left: 348px;
        padding-bottom: 65px;
        background-position: top 48% left 15%;
    }
    .more-list-title-first {
        margin-bottom: 6px;
    }
    .more-right_card_gears {
        padding-left: 348px;
        background-image: url(./img/info/gears_new_back.png);
        background-position: top 45% left 15%;
    }
    /* Сеция work */
    .work {
        margin-bottom: 58px;
    }
    .work-title {
        margin-left: -8px;
        margin-bottom: 44px;
    }
    .work-container-pic {
        min-width: 438px;
        background-image: url(./img/work/new_work_pic.png);
    }
    .work-container-title {
        margin-bottom: 2px;
    }
    .work-container-text {
        max-width: 87%;
        margin-bottom: 28px;
    }
    .work-btn-more {
        padding: 20px 37px;
    }
    .work-btn-document {
        padding: 20px 38px;
        margin-left: 28px;
    }
    /* Секция question */
    .question {
        margin-bottom: 57px;
    }
    .question-text {
        padding-left: 0px;
        max-width: 82%;
        font-size: 20px;
        line-height: 32px;
    }
    .question-title {
        padding-bottom: 40px;
    }
    .question-list-item {
        padding-bottom: 30px;
        border-bottom: 1px solid;
    }
    .question-list-item:nth-child(1) {
        padding-top: 39px;
        padding-bottom: 31px;
    }
    .question-list-item:nth-child(2) {
        padding-top: 22px;
        padding-bottom: 26px;
    }
    .question-list-item:nth-child(3) {
        padding-top: 28px;
        padding-bottom: 31px;
    }
    .question-list-item:nth-child(4) {
        padding-top: 25px;
        padding-bottom: 26px;
    }
    .question-list-item:nth-child(5) {
        padding-top: 25px;
        padding-bottom: 32px;
    }
    .question-pic-link {
        background-position: 3px 3px;
    }
    .footer-left {
        display: none;
    }
    .footer-logo_hidden {
        display: block;
    }
    .footer-socials_hidden {
        display: flex;
    }
    /* Секция footer */
   .footer-middle {
       margin-left: 0px;
       min-width: 240px;
       padding-top: 63px;
   }
   .footer-right {
        padding-top: 53px;
        padding-right: 0px;
   }
   .footer-img {
       margin-bottom: 0px;
    }
    .footer-list-item:nth-child(1){
        margin-top: 11px;
    }
    .footer-list-item:nth-child(2) {
        margin-top: 29px
    }
    .footer-list-item:nth-child(3) {
        margin-top: 28px
    }
    
    .footer-list-item:nth-child(4) {
        margin-top: 29px;
    }
    
    .footer-list-item:nth-child(5) {
        margin-top: 27px
    }
    .footer-list-item:nth-child(6) {
        margin-top: 29px
    }
    .footer-list-item:nth-child(7) {
        margin-top: 26px
    }
    .footer-socials_hidden {
        margin-top: 30px;
    }
    .footer-btn {
        padding: 20px 38px;
        margin-right: 14px;
    }
}
@media (max-width: 768px) {
    .header {
        padding-top: 10px;
        padding-bottom: 14px;
    }
    .header-container {
        display: flex;
        flex-wrap: wrap;
        padding: 0 48px;
    }
    .header-logo {
        margin-left: auto;
    }
    .nav-list-item:nth-child(1) {
        margin-right: 49px;
    }
    .nav-list-item:nth-child(2) {
        margin-right: 52px;
    }
    .nav-list-item:nth-child(3) {
        margin-right: 49px;
    }
    .nav-list-item:nth-child(4) {
        margin-right: 50px;
    }
    .nav-list-item:nth-child(5) {
        margin-right: 54px;
    }
    .nav {
        padding-top: 22px;
    }
    .nav-list-item_search  {
        padding-top: 22px;
    }
    .burger {
        background-position: bottom;
    }
    .hero_container {
        min-height: 638px;
        background-image: url(./img/main/middle_back.png);
    }
    .hero-container-main {
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 130px;
        padding-left: 49px;
    }
    .main-text {
        max-width: 100%;
    }
    .info {
        padding: 0 50px;
    }
    .more {
        margin-bottom: 52px;
    }
    .more-left {
        background-image: url(./img/info/worker_middle.png);
        background-size: 72% 100%;
    }
    .more-left_text {
        max-width: 72%;
        padding-top: 25px;
        padding-left: 29px;
        padding-right: 27px;
        padding-bottom: 20px;
    }
    .left-text {
        max-width: 66%;
    }
    .more-right_card_box {
        margin-bottom: 40px;
        padding-right: 0px;
        padding-top: 12px;
        padding-left: 177px;
        padding-bottom: 35px;
        max-width: 72%;
        background-position: top 49% left 6%;
        background-size: 19% 43%;
    }
    .more-list-text-first {
        max-width: 84%;
    }
    .more-right_card_gears {
        padding-right: 0px;
        padding-top: 12px;
        padding-left: 177px;
        padding-bottom: 34px;
        max-width: 72%;
        background-position: top 49% left 6%;
        background-size: 17% 43%;
    }
    .work {
        padding: 0 48px;
        margin-bottom: 45px;
    }
    .work-contaner {
        flex-direction: column-reverse;
    }
    .work-container-pic {
        margin-top: 0;
        margin-bottom: 39px;
        min-height: 306px;
        background-image: url(./img/work/work-pic-middle.png);
    }
    .work-container-title {
        margin-top: 0px;
    }
    .work-container-text {
        max-width: 100%;
    }
    .work-btn-document {
        margin-left: 31px;
    }
    .work-title {
        margin-bottom: 48px;
    }
    .work-list {
        justify-content: space-between;
    }
    .work-list::before {
        width: 670px;
        height: 4px;
    }
    .question {
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 53px;
    }
    .question-title {
        padding-bottom: 38px;
        padding-right: 0;
        font-size: 46px;
        letter-spacing: 0.2px;
    }
    .question-text {
        max-width: 78%;
    }
    .question-text:nth-child(3) {
        max-width: 80%;
    }
    .question-list-item:nth-child(1) {
        padding-top: 32px;
        padding-bottom: 27px;
    }
    .question-list-item:nth-child(2) {
        padding-top: 24px;
    }
    .question-list-item:nth-child(3) {
        padding-bottom: 25px;
        padding-top: 23px;
    }
    .question-list-item:nth-child(5) {
        padding-top: 21px;
        padding-bottom: 26px;
    }
    .footer {
        padding: 46px 47px;
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-left-middle {
        display: flex;
    }
    .footer-logo-middle {
        margin-right: 32%;
    }
    .footer-socials-middle {
        display: flex;
    }
    .footer-middle {
        padding-top: 0px;
        margin-top: 29px;
        margin-bottom: 50px;
        width: 79%;
    }
    .footer-right {
        display: none;
    }
    .footer-btn {
        margin-right: 0px;
        white-space: nowrap;
    }
    .footer-agree {
        font-size: 24px;
    }
    .footer-label {
        margin-left: 25px;
        white-space: nowrap;
    }
    .footer-right-middle {
        display: flex;
    }
    .footer-right-right {
        margin-left: 146px;
        margin-top: 15px;
    }
}
@media (max-width: 880px) {
    .work-contaner {
        flex-direction: column-reverse;
    }
    .work-container-pic {
        margin-top: 0;
        margin-bottom: 39px;
        min-height: 306px;
        background-image: url(./img/work/work-pic-middle.png);
    }
}
