@font-face {
    font-family: "Montserrat";
    src: url('./font/Montserrat-Regular.woff2'),
        url('./font/Montserrat-Regular.woff');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url('./font/Montserrat-Bold.woff2'),
        url('./font/Montserrat-Bold.woff');
        font-weight: bold;
        font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url('./font/Montserrat-ExtraBold.woff2'),
        url('./font/Montserrat-ExtraBold.woff');
        font-weight: 800;
        font-style: normal;
}
@font-face {
    font-family: "Montserrat";
    src: url('./font/Montserrat-SemiBold.woff2'),
        url('./font/Montserrat-SemiBold.woff');
        font-weight: 600;
        font-style: normal;
}
* {
    box-sizing: border-box;
}
body {
    font-family: 'Montserrat';
    font-weight: normal;
    overflow-x: hidden;
}
li {
    list-style: none;
}
a {
    color: black;
    text-decoration: none;
}
h1 {
    margin: 0px;
}
h2 {
    margin: 0px;
}
p {
    margin: 0;
}
ul {
    margin: 0px;
    padding: 0px;
}
.container  {
    width: 100%;
    max-width: 1770px;
    margin: 0 auto;
}
.header {
    padding-top: 15px;
    padding-bottom: 11px;
    -webkit-box-shadow: 0px 0px 29px 4px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 0px 29px 4px rgba(0,0,0,0.22);
    box-shadow: 0px 0px 29px 4px rgba(0,0,0,0.22);
}
.header-btn-nav {
    display: flex;
}

.header-container {
    display: flex;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.nav {
    position: relative;
    /* width: 100%; */
}
.nav-list {
    display: flex;
    align-items: center;
}
.nav-list-item:not(:last-child) {
    margin-right: 84px; 
}
.nav-list-item:nth-child(5) {
    margin-right: 63px;
}

.nav-list-link {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    transition: all 0.3s;
}
.nav-list-link::after {
    position: absolute;
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background-color: #FF9900;
    left: 0;
    bottom: -4px;
    transition: all 0.3s;
}
.nav-list-link:hover::after {
    width: 100%;
}
.nav-list-item_search {
    display: inline-block;
    padding-top: 2px;
    padding-right: 12px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    /* transition-timing-function: ease-in-out;
    transition-duration: 0.6s; */
}
.nav-list-item_search:hover rect {
    fill: #FF9900;
}
.nav-list-item_search:hover circle {
    stroke: #FF9900;
}
.burger {
    display: none;
    width: 30px;
    height: 26px;
    background-color: #FFFFFF;
    border: none;
    background-image: url(./img/header/Burger.png);
    background-repeat: no-repeat;
}
.hero {
    margin-bottom: 88px;
}
.hero-container {
    background-image: url(./img/main/first-photo.jpg);
    background-repeat: no-repeat;
    opacity: 0.9;
}
.hero-container-main {
    padding: 104px  79px;
}
.main-title {
    margin-bottom: 21px;
    width: 60%;
    font-size: 70px;
    font-weight: 800;
    line-height: 86px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}
.main-text {
    margin-bottom: 95px;
    width: 50%;
    font-weight: bold;
    font-size: 23px;
    line-height: 29px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}
.main-btn {
    padding: 25px 37px;
    font-size: 24px;
    font-weight: bold;
    line-height: 29px;
    color:#FFFFFF;
    border: none;
    background-color: #FF9900;
    cursor: pointer;
    transition-timing-function: ease-in-out;
    transition-duration: 0.7s;
}
.main-btn:hover {
    background-color: rgba(255, 153, 0, 0.6);
}
.info {
    margin-bottom: 43px;
}
.info-title {
    padding-left: 2px;
    margin-bottom: 23px;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #333333;
}
.info-text {
    margin-bottom: 47px;
    max-width: 69.5%;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
}
.info-span {
    display: inline-block;
    margin-left: 4px;
    width: 16px;
    height: 16px;
    background-image: url(./img/info/info-logo.png);
    background-repeat: no-repeat;
    background-position: center;

}
.more {
    display: flex;
    margin-bottom: 101px;
}
.more-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 49%;
    background-image: url(./img/info/more_left_back.png);
    background-repeat: no-repeat;
}
.more-left_text {
    display: flex;
    align-items: center;
    padding-right: 39px;
    padding-top: 42px;
    padding-left: 56px;
    padding-bottom: 42px;
    font-weight: bold;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}
.left-text {
    max-width: 65%;
    font-weight: bold;
    font-size: 16px;
    line-height: 31px;
}
.more-left-btn {
    margin-left: 71px;
    padding: 17px 34px;
    line-height: 20px;
    font-weight: bold;
    font-size: 16px;
    color: #FFFFFF;
    border: 3px solid #FF9900;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
.more-left-btn:hover {
    background-color: #FF9900;
}
 .more-right {
     margin-left: 32px;
     width: 49%;
}
.more-right_card_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 32px;
    padding-top: 42px;
    padding-right: 90px;
    padding-bottom: 66px;
    padding-left: 299px;
    border: 1px solid; 
    background-image: url(./img/info/more-right-box.png);
    background-repeat: no-repeat;
    background-position: top 43% left 9%;
}
.more-right-gears {
    display: flex;
    flex-direction: row;

}
.more-right_card_gears {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 42px;
    padding-right: 90px;
    padding-bottom: 65px;
    padding-left: 299px;
    border: 1px solid; 
    background-image: url(./img/info/mor-right-grinds.png);
    background-repeat: no-repeat;
    background-position: top 36% left 9%;
}
.more-right_card:not(:last-child) {
    margin-bottom: 28px;
}
.more-list-title-first {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
.more-list-text-first {
    font-size: 16px;
    line-height: 32px;
}
.more-list-title-second {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
}
.more-list-text-second {
    font-size: 16px;
    line-height: 32px;
}
/* Секция 4 */
.work {
    margin-bottom: 99px;
    padding-left: 2px;
}
.work-title {
    margin-bottom: 38px;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #333333;
}
.work-list {
    display: flex;
    justify-content: space-between;
    padding-top: 9px;
    width: 26.5%;
    margin-bottom: 19px;
    position: relative;  
}
.work-list-item {
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    border: none;
    background-color: #FFFFFF;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}

.work-list-item:hover {
    color: #FF9900;
    cursor: pointer;
}
.work-list-item:focus {
    outline-style: none;
}
.work-list-item:active {
    outline-style: none;
}
.work-list-link:hover {
    color: #FF9900;
}

.work-container-title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #333333;
}
.work-container-text {
    margin-bottom: 59px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32.9px;
    color: #333333;
}
.work-container {
    display: flex;
    justify-content: space-between;
}
.work-main-container {
    width: 43%;
}
.work-container-pic {
    width: 49%;
    background-image: url(./img/work/work.jpg);
    background-repeat: no-repeat;
    background-position: 100% 94%;
    background-size: 100%;
}
.work-btns {
    display: flex;
    align-items: center;
}
.work-btn-more {
    display: block;
    padding: 20px 38px;
    color: #FFFFFF;
    background-color: #FF9900;
    border: 2px solid #FF9900;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
.work-btn-more:hover {
    color: #222222;
    background-color: #FFFFFF;
}
.work-btn-document {
    display: block;
    margin-left: 30px;
    padding: 20px 37px;
    border: 1px solid #333333;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
.work-btn-document:hover {
    color: #FFFFFF;
    background: #333333;
    border: 1px solid #333333;
}
/* Секция 5 */
.question {
    margin-bottom: 102px;
}
.question-container {
    display: flex;
    flex-direction: column;
}
.question-title {
    font-weight: normal;
    padding-right: 10px;
    padding-bottom: 38px;
    font-size: 48px;
    line-height: 59px;
    border-bottom: 1px solid;
}   
.question-text:hover{
    font-weight: bold;
    color: #FF9900;
    cursor: pointer;
}   
.question-pic-link {
    padding-top: 38px;
    padding-bottom: 45px;
    position: relative;
   background-color: #FFFFFF;
   border-top: none;
   border-left: none;
   border-right: none;
   border-bottom: 1px solid black ;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    outline: none;
    text-align: left;
   transition-timing-function: ease-in-out;
   transition-duration: 0.5s;
}
.question-pic-link:nth-child(6) {
    padding-top: 38px;
    padding-bottom: 39px;
}
.question-pic-link::before{
    content: "";
    display: block;
    position: absolute;
    width: 53px;
    height: 53px;
    top: 31px;
    right: 0;
    bottom: 0;
    background-image: url(./img/question/plus.png);
    background-repeat: no-repeat;
    transition-timing-function: ease-in-out;
   transition-duration: 0.5s;
}
.question-pic-link:hover::before {
    opacity: 0.6;
    cursor: pointer;
}
.question-pic-link:hover {
    color: #FF9900;
    cursor: pointer;
}
/* Секция 6 */
.footer {
    background: #222222;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    padding-top: 48px;
    padding-bottom: 80px;
}
.footer-left {
    display: flex;
    width: 20%;
    justify-content: space-between;
    flex-direction: column;
    
}
.footer-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #CACACA;
}
.footer-img {
    margin-bottom: 16px;
}
.footer-socials {
    display: flex;
}

.footer-socials-icone:not(:last-child){
    margin-right: 24px;
}
.footer-socials-link {
    display: block;
    width: 61px;
    height: 61px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.7s;
}
.fb {
    background-image: url(./img/footer/fb.png);
    background-repeat: no-repeat;
}
.vk {
    background-image: url(./img/footer/vk.png);
    background-repeat: no-repeat;
}
.insta {
    background-image: url(./img/footer/insta.png);
    background-repeat: no-repeat;
}
.footer-socials-link:hover {
    opacity: 0.6;
}
.footer-middle {
    padding-top: 8px;
    width: 32%;
}
.footer-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.footer-right {
    align-self: center;
    width: 20%;
}
.footer-list-link {
    color: #CACACA;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    transition: all 0.3s ease-in-out;
}
.footer-list-link:hover {
    color: #FF9900;
}
.footer-logoscreen {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.footer-list-item:not(:first-child) {
    margin-top: 15px;
}
.footer-form {
    display: flex;
    flex-direction: column;
}
.footer-title {
    margin-bottom: 26px;
    font-weight: normal;
    font-size: 48px;
    line-height: 59px;
    color: #CACACA;
}
.footer-input-name,
.footer-input-email {
    margin-bottom: 25px;
    background: #414141;
    border-style: none;
}
.footer-input-name {
    padding: 22px 25px;
}
.footer-input-email {
    padding: 20px 25px;
}
.footer-textarea {
    padding: 21px 24px;
    margin-bottom: 32px;
    background: #414141;
    border-style:none;
    resize: none;
}
.footer-btn {
    padding: 21px 54px;
    margin-right: 12px;
    font-weight: bold;
    background-color: #FF9900;
    color: #FFFFFF;
    border: none;
    white-space: nowrap;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
.footer-btn:hover {
    background-color: rgba(255, 153, 0, 0.6);
    cursor: pointer;
}
.submit-container {
    display: flex;
    align-items: center;
}
.footer-agreement {
    margin-left: 32px;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 0.1px;
}
.footer-label {
    padding-top: 2px;
    align-items: center;
    color: #CACACA; 
    font-size: 16px;
    font-style: normal;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
}
.footer-label:hover {
    color: #FF9900;
    cursor: pointer;
}
.footer-label input[type="checkbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
   }
   .footer-label span {
       position: relative;
    }
   .footer-label span::before {
       content: '';
       width: 14px;
       height: 14px;
       border: 1px solid #FFFFFF;
       display: inline-block;
       margin-right: 5px;
   }
   .footer-label span::after {
       content: url('./img/footer/green.png');
       position: absolute;
       left: 3px;
       top: -1px;
       width: 7px;
       height: 4px;
       opacity: 0;
   }
   .footer-label input[type="checkbox"]:checked + span::after {
       opacity: 1;
   }
    .footer-span-agree {
    display: flex;
    align-items: center;
    }
    ::-webkit-input-placeholder {
    color: #CACACA;
    }   
    @media  (max-width:1800px) {
        .container {
            padding: 0 30px;
        }
        .hero-container {
            text-align: center;
        }
        .main-title {
            width: 100%;
        }
        .main-text {
            margin: 0 auto;
            width: 55%;
        }
        .main-btn {
            margin-top: 15px;
        }
        .more {
            flex-direction: column;
        }
        .more-right {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        .more-left {
            width: 100%;
            margin-bottom: 40px;
            min-height: 648px;
            background-image: url(./img/info/middle-size-back.png);
            background-size: 100%;
            background-position: 100% 100%;
        }
        .info-text {
            max-width: none;
        }
        .work {
            margin-bottom: 58px;
        }
        .work-container-pic {
            background-image: url(./img/work/new_work_pic.png);
        }
        .work-container-text {
            width: 90%;
            margin-bottom: 29px;
        }
        .nav-list-item:not(:last-child) {
            margin-right: 60px;
        }
        .footer-container {
            padding-top: 48px;
            justify-content: space-around;
            padding-bottom: 70px;
        }
        .question-pic-link:nth-child(3) {
            padding-right: 50px;
        }
        .question-pick-link:nth-child(5) {
            padding-right: 100px;
        }
      
        .footer-middle {
            width: 58%;
        }
        .footer-right {
            display: none;
        }
        .footer-btn {
            padding: 20px 52px;
            margin-right: 13px;
        }
    }
@media (max-width:1024px) {
    .container {
        padding: 0 49px;
    }
    .hero {
        margin-bottom: 59px;
    }
    .nav-list {
        display: none;
    }
    .header {
        padding-top: 25px;
        padding-bottom: 22px;
    }
    .header-nav {
        position: relative;
        justify-content: center;
    }
    .header-img {
        max-width: 150px;
    }
    .header-btn-nav {
        display: flex;
    }
    .nav {
        padding-right: 0;
    }
    .nav-list-item:not(:last-child) {
        margin-right: 60px;
    }
    .nav-list-item:nth-child(5) {
        margin-right: 70px;  
    } 
    .hero-container {
        min-height: 668px;
        background-image: url(./img/main/hero-container.png);
        background-size: 100% 100%;
        text-align: left;
    }
    .hero-container-main {
        padding-top: 161px;
        padding-left: 45px;
    }
    .nav-list-link {
        font-weight: 600;
        font-size: 16px;
    }
    .burger {
        display: block;
        position: absolute;
        left: 51px;
        top: 39px;
    }
    .nav-list-item_search {
        position: absolute;
        padding-right: 0px;
        right: 44px;
        top: 36px;
    }
    .main-title {
        margin-bottom: 11px;
        font-size: 60px;
        line-height: 73px;
    }
    .main-text  {
        margin: 0;
        width: 100%;
        margin-bottom: 111px;
        max-width: 84%;
        font-size: 19px;
        line-height: 22px;
        letter-spacing: 0.6px;
    }
    .main-btn {
        margin-top: 0;
        padding: 25px 38px;
    }
    .info-title {
        margin-bottom: 25px;
    }
    .info-text {
        width: 100%;
        margin-bottom: 57px;
    }
    .more {
        flex-direction: column;
        margin-bottom: 61px;
    }
    .more-left {
        margin-bottom: 49px;
        min-height: 640px;
        background-image: url(./img/info/middle-size-back.png);
    }
    .more-left-btn {
        padding: 17px 37px;
    }
    .left-text {
        max-width: 61%;
    }
    .more-left_text  {
        width: 100%;
        padding-left: 45px;
        padding-right: 50px;
        padding-bottom: 41px;
    }
    .more-left-btn {
        margin-left: auto;
    }
    .more-right  {
        margin-left: 0px;
        max-width: 100%;
    }
    .more-right_card_box {
        margin-bottom: 39px;
        padding-right: 99px;
        padding-top: 42px;
        padding-left: 348px;
        padding-bottom: 65px;
        background-position: top 48% left 15%;
    }
    .more-list-title-first {
        margin-bottom: 6px;
    }
    .more-right_card_gears {
        padding-left: 348px;
        background-image: url(./img/info/gears_new_back.png);
        background-position: top 45% left 15%;
    }
    /* Сеция work */
    .work {
        margin-bottom: 58px;
    }
    .work-title {
        margin-left: -8px;
        margin-bottom: 39px;
    }
    .work-list {
        margin-bottom: 21px;
        width: 50%;
    }
    .work-main-container {
        width: 47%;
    }
    .work-container-pic {
        background-image: url(./img/work/new_work_pic.png);
        background-size: 97%;
    }
    .work-container-title {
        margin-bottom: 2px;
    }
    .work-container-text {
        width: 100%;
        margin-bottom: 28px;
    }
    .work-btn-more {
        padding: 20px 37px;
    }
    .work-btn-document {
        padding: 20px 38px;
        margin-left: 28px;
    }
    /* Секция question */
    .question {
        margin-bottom: 57px;
    }
    .question-text {
        padding-left: 0px;
        max-width: 82%;
        font-size: 20px;
        line-height: 32px;
    }
    .question-title {
        padding-bottom: 38px;
    }
    .question-list-item {
        padding-bottom: 30px;
        border-bottom: 1px solid;
    }
    .question-pic-link {
        font-size: 20px;
        padding-right: 160px;
    }
    .question-pic-link:nth-child(2) {
        padding-top: 49px;
        padding-bottom: 41px;
    }
    .question-pic-link:nth-child(3) {
        padding-top: 23px;
        padding-bottom: 27px;
        padding-right: 160px;
    }
    .question-pic-link:nth-child(4) {
        padding-top: 39px;
        padding-bottom: 42px;
    }
    .question-pic-link:nth-child(5) {
        padding-top: 24px;
        padding-bottom: 25px;
    }
    .question-pic-link:nth-child(6) {
        padding-top: 39px;
        padding-bottom: 42px;
    }
    .question-pic-link:nth-child(2)::before {
        top: 42px;
    }
    .question-pic-link:nth-child(3)::before {
        top: 34px;
    }
    .question-pic-link:nth-child(5)::before {
        top: 31px;
    }
    .footer-logo_hidden {
        display: block;
    }
    .footer-socials_hidden {
        display: flex;
    }
    .footer-container {
        padding-top: 48px;
        padding-bottom: 70px;
        justify-content: space-between;
    }
   .footer-middle {
       margin-left: 0px;
   }
   .footer-right {
        padding-top: 53px;
        padding-right: 0px;
   }
    .footer-left {
        width: 30%;
    }
    .footer-socials_hidden {
        margin-top: 30px;
    }
    .footer-btn {
        padding: 20px 38px;
        margin-right: 14px;
    }
    .footer-list-item:not(:first-child) {
        margin-top: 14px;
    }
    .footer-left {
        justify-content: space-between;
        flex-direction: column;
    }
    .footer-label {
        white-space: nowrap;
    }
}
@media (max-width: 980px) {
    .header-img {
        max-width: 119px;
    }
    .nav-list-item:not(:last-child) {
        margin-right: 25px;
    }
    .nav-list-item:nth-child(5) {
        margin-right: 21px;
    }
    .work-container {
        flex-direction: column-reverse;
    }
    .work-container-pic {
        width: 100%;
        margin-bottom: 39px;
        min-height: 306px;
        background-image: url(./img/work/work-pic-middle.png);
    }
    .more-right_card_box {
        margin-bottom: 39px;
        padding-right: 26px;
        padding-top: 42px;
        padding-left: 291px;
        padding-bottom: 65px;
        background-position: top 48% left 15%;
    }   
    .work-main-container {
        width: 100%;
    }
    .work-list {
        width: 100%;
    }
    .more-right_card_gears {
        padding-right:26px;
        padding-left: 291px;
        background-image: url(./img/info/gears_new_back.png);
        background-position: top 45% left 15%;
    }
    .footer-label {
        font-size: 14px;
    }
    .footer-label span::after {
        left: 3px;
        top: -1px;
    }
    .footer-btn {
        padding: 16px 10px;
        font-size: 14px;
    }
}
@media (max-width: 768px) {
    .container {
        padding: 0;
    }
    .header {
        padding-top: 11px;
        padding-bottom: 8px;
    }
    .header-nav {
        flex-direction: column;
    }
    .header-img {
        max-width: 150px;
    }
    .header-btn-nav {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    .nav-list-item_search {
        right: 48px;
        top: 20px;
    }
    .burger {
        left: 47px;
        top: 21px;
    }
    .nav-list-item:not(:last-child) {
        margin-right: 0px;
    }
    .nav-list {
        justify-content: space-between;
        width: 100%;
    }
    .nav-list-item:nth-child(5) {
        margin-right: 54px;
    }
    .hero_container {
        min-height: 638px;
        background-image: url(./img/main/middle_back.png);
    }
    .hero-container {
        min-height: 697px;
        background-image: url(./img/main/hero-container.png);
        background-size: 100%;
        background-position: 100% 100%;
        text-align: left;
    }
    .hero-container-main {
        padding-right: 0;
        padding-bottom: 0;
        padding-top: 189px;
        padding-left: 48px;
    }
    .main-title {
        margin-bottom: 14px;
    }
    .main-text {
        max-width: 100%;
    }
    .info {
        padding: 0 50px;
        margin-bottom: 61px;
    }
    .more {
        margin-bottom: 52px;
    }
    .more-left {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 41px;
        width: 100%; 
        min-height: 650px;
        background-image: url(./img/info/worker_middle.png);
    }
    .more-left_text {
        max-width: 100%;
        padding-top: 25px;
        padding-left: 29px;
        padding-right: 27px;
        padding-bottom: 24px;
    }
    .left-text {
        max-width: 66%;
    }
    .more-right_card_box {
        padding-right: 26px;
        padding-top: 12px;
        padding-left: 175px;
        padding-bottom: 36px;
        background-position: top 49% left 6%;
        background-size: 19% 44%;
    }
    .more-list-text-first {
        width: 87%;
    }
    .more-right_card_gears {
        padding-right: 0px;
        padding-top: 12px;
        padding-left: 177px;
        padding-bottom: 34px;
        max-width: 100%;
        background-position: top 49% left 6%;
        background-size: 17% 43%;
    }
    .work {
        padding: 0 48px;
        margin-bottom: 60px;
    }
    .work-container {
        flex-direction: column-reverse;
    }
    .work-container-pic {
        margin-top: 0;
        margin-bottom: 39px;
        min-height: 311px;
        background-image: url(./img/work/work-pic-middle.png);
        background-size: 100%;
    }
    .work-container-title {
        margin-top: 0px;
    }
    .work-container-text {
        max-width: 100%;
        margin-bottom: 27px;
    }
    .work-btn-document {
        margin-left: 31px;
    }
    .work-title {
        margin-bottom: 35px;
    }
    .work-list {
        justify-content: space-between;
        max-width: 100%;
    }
    .work-list::before {
        width: 670px;
        height: 4px;
    }
    .question {
        padding-left: 50px;
        padding-right: 50px;
        margin-bottom: 56px;
    }
    .question-title {
        padding-bottom: 36px;
        padding-right: 0;
        font-size: 46px;
        letter-spacing: 0.2px;
    }
    .question-text {
        max-width: 78%;
    }
    .question-pic-link {
        width: 100%;
    }
    .question-pic-link:nth-child(2) {
        padding-top: 33px;
        padding-bottom: 27px;
    }
    .question-pic-link:nth-child(4) {
        padding-top: 21px;
        padding-bottom: 25px;
        padding-right: 204px;
    }
    .question-pic-link:nth-child(5) {
        padding-top: 24px;
        padding-bottom: 25px;
        padding-right: 142px;
    }
    .question-pic-link:nth-child(6) {
        padding-top: 24px;
        padding-bottom: 27px;
    }
    .footer {
        padding: 46px 47px;
    }
    .footer-container {
        flex-direction: column-reverse;
    }
    .footer-left-middle {
        display: flex;
    }
    .footer-logo-middle {
        margin-right: 32%;
    }
    .footer-socials-middle {
        display: flex;
    }
    .footer-middle {
        padding-top: 0px;
        margin-top: 16px;
        margin-bottom: 56px;
        width: 79%;
    }
    .footer-right {
        display: none;
    }
    .footer-btn {
        margin-right: 0px;
        white-space: nowrap;
        padding: 20px 50px;
        margin-right: 23px;
    }
    .footer-agree {
        font-size: 24px;
    }
    .footer-label {
        white-space: nowrap;
    }
    .footer-right-middle {
        display: flex;
    }
    .footer-right-right {
        margin-left: 146px;
        margin-top: 15px;
    }
    .footer-list-socials {
        display: flex;
        flex-direction: column-reverse;
    }
    .footer-list {
        display:none ;
    }
    .footer-label span::after {
        left: 3px;
        top: -1px;
    }
}
@media (max-width: 720px) {
    .hero-container {
        min-height: 262px;
        text-align: center;
        background-position: 100% 100%;
    }
    .main-title {
        margin-bottom: 22px;
        font-size: 27px;
        line-height: 24px;
    }
    .burger {
        left: 20px;
        top: 24px;
    }
    .nav-list-item_search {
        right: 20px;
    }
    .hero {
        margin-bottom: 31px;
    }
    .hero-container-main {
        padding: 30px 17px;
    }
    .info {
        padding: 0 20px;
    }
    .info-title {
        font-size: 30px;
        margin-bottom: 0;
    }
    .info-text {
        margin-bottom: 20px;
        font-size: 14px;
    }
    .main-title {
        margin-bottom: 8px;
        font-size: 24px;
        line-height: 24px;
    }
    .main-text {
        margin-bottom: 34px;
        font-weight: 500;
        font-size: 14px;
        line-height: 15px;  
    }
    .main-btn {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        padding: 14px 28px;
    }
    
    .submit-container {
        flex-direction: column;
    }
    .work-title {
        font-size: 35px;
        line-height: 40px;
    }
    .work-btns {
        font-size: 12px;
    }
    .work-btn-more {
        padding: 11px 43px
    }
    .work-btn-document {
        margin-left: 11px;
        padding: 12px 31px;
    }
    .work-container-text {
        font-size: 14px;
    }
    .more-left {
        min-height: 450px;
        background-image:url(./img/info/work-lil.png);
        background-size: cover;
        background-position: center center;
    }
    .more-left_text {
        padding: 0;
        top: 219px;
        font-weight: 400;
        background: #FFFFFF;
        backdrop-filter: none;
    }
    .more-left-btn {
        padding: 8px 41px;
        margin-right: auto;
        margin-left: 0;
        align-self: left;
        font-size: 12px;
        color: #FF9900;
    }
    .left-text {
        margin-bottom: 10px;
        max-width: 100%;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        color: black;
    }
    .more-right_card_box {
        margin-bottom: 0;
        min-height: 264px;
        padding: 0;
        border: none;
        background-position: top 8px left 1%;
        background-size: 23% 22%;
    }
    .more-right_card_gears {
        min-height: 276px;
        padding: 0;
        border: none;
        background-position: top 21px left 1%;
        background-size: 21% 17%;
    }
    .more-list-title-first {
        padding-top: 56px;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.2px;
    }
    .more-list-text-first {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }
    .more-list-title-second {
        padding-top: 71px;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.2px;
    }
    .more-list-text-second {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }
    .more-left_text {
        flex-direction: column;
    }
    .work {
        padding: 0 20px;
        margin-bottom: 60px;
    }
    .work-title {
        font-size: 30px;
        margin-bottom: 18px;
    }
    .work-container-pic {
        background-size: cover;
    }
    .work-container-title {
        font-size: 20px;
        font-weight: 400;
    }
    .question {
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 56px;
    }
    .question-title {
        padding-bottom: 36px;
        font-size: 35px;
    }
    .question-title {
        padding-bottom: 13px;
        font-size: 23px;
        line-height: 29px;
        letter-spacing: 0.5px;
    }
    .question-pick-link {
        font-size: 14px;
        font-weight: 400;
    }
    .question-pic-link:nth-child(2) {
        margin-left: -5px;
        padding-top: 21px;
        padding-bottom: 22px;
        padding-right: 63px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;
    }
    .question-pic-link:nth-child(3) {
        margin-left: -5px;
        padding-top: 22px;
        padding-bottom: 21px;
        padding-right: 72px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .question-pic-link:nth-child(4) {
        margin-left: -5px;
        padding-top: 22px;
        padding-bottom: 21px;
        padding-right: 72px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .question-pic-link:nth-child(5) {
        margin-left: -5px;
        padding-top: 22px;
        padding-bottom: 21px;
        padding-right: 48px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .question-pic-link:nth-child(6) {
        margin-left: -5px;
        padding-top: 22px;
        padding-bottom: 21px;
        padding-right: 48px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
    }
    .question-pic-link:nth-child(2)::before {
        top: 19px;
        right: -18px;
        width: 43px;
        height: 43px;
        background-size: 70%;
    }
    .question-pic-link:nth-child(3)::before {
        top: 31px;
        right: -18px;
        width: 43px;
        height: 43px;
        background-size: 70%;
    }
    .question-pic-link:nth-child(4)::before {
        top: 22px;
        right: -18px;
        width: 43px;
        height: 43px;
        background-size: 70%;
    }
    .question-pic-link:nth-child(5)::before {
        top: 32px;
        right: -18px;
        width: 43px;
        height: 43px;
        background-size: 70%;
    }
    .question-pic-link:nth-child(6)::before {
        top: 19px;
        right: -18px;
        width: 43px;
        height: 43px;
        background-size: 70%;
    }
    .footer-container {
        align-items: center;
    }
    .footer {
        padding: 46px 32px;
    }
    .footer-title {
        font-size: 30px;
    }
    .footer-btn {
        margin-bottom: 20px;
        margin-right: 0;
    }
    .footer-middle {
        margin-top: 0;
        width: 100%;
    }
    .footer-left {
        align-items: center;
    }
}
@media (max-width: 320px) {
    body {
        font-size: 14px;
    }
    .title {
        font-size: 24px;
        line-height: 29px;
    }
    .container {
        padding: 0 15px;
    }
    .hero {
        margin-bottom: 39px;
    }
    .header {
        padding-top:11px;
        padding-bottom: 0px;
    }
    .header-nav {
        flex-direction: row;
        justify-content: flex-start;
    }
    .header-img {
        max-width: 96px;
    } 
    .nav-list-item_search {
        display: none;
    }
    .burger {
        top: 14px;
        right: 9px;
        left: auto;
        background-size: 82%;
    }
    .hero-container {
        min-height: 262px;
        text-align: center;
        background-position: 100% 100%;
    }
    .hero-container-main {
        padding: 30px 17px;
    }
    .main-title {
        margin-bottom: 8px;
        font-size: 20px;
        line-height: 24px;
    }
    .main-text {
        margin-bottom: 34px;

        font-weight: 500;
        font-size: 12px;
        line-height: 15px;  
    }
    .main-btn {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        padding: 14px 28px;
    }
    .info {
        margin-bottom: 0;
        padding: 0;
    }
    .info-title {
        margin-bottom: 2px;
    }
    .info-text {
        font-size: 14px;
        line-height: 28px;
        margin-bottom: 0px;
    }
    .more {
        position: relative;
        margin-bottom: 45px;
    }
    .more-left {
        margin-bottom: 227px;
        min-height: 210px;
        background-image:url(./img/info/work-lil.png);
    }
    .more-left_text {
        position: absolute;
        padding: 0;
        top: 219px;
        font-weight: 400;
        background: #FFFFFF;
        backdrop-filter: none;
    }
    .more-left-btn {
        padding: 8px 41px;
        margin-right: auto;
        margin-left: 0;
        align-self: left;
        font-size: 12px;
        color: #FF9900;
    }
    .left-text {
        margin-bottom: 10px;
        max-width: 100%;
        font-size: 14px;
        line-height: 28px;
        font-weight: 400;
        color: black;
    }
    .more-right_card_box {
        margin-bottom: 0;
        min-height: 264px;
        padding: 0;
        border: none;
        background-position: top 8px left 1%;
        background-size: 23% 22%;
    }
    .more-right_card_gears {
        min-height: 276px;
        padding: 0;
        border: none;
        background-position: top 21px left 1%;
        background-size: 21% 17%;
    }
    .more-list-title-first {
        padding-top: 56px;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.2px;
    }
    .more-list-text-first {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }
    .more-list-title-second {
        padding-top: 71px;
        font-size: 17px;
        line-height: 22px;
        letter-spacing: 0.2px;
    }
    .more-list-text-second {
        width: 100%;
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
    }
    .more-left_text {
        flex-direction: column;
    }
    .work {
        padding: 0;
        margin-bottom: 40px;
    }
    .work-title {
        margin-left: 0;
        margin-bottom: 25px;
    }
    .work-container-pic {
        margin-bottom: 10px;
        min-height: 161px;
        background-image: url(./img/work/work-pick-lil.png);
    }
    .work-container-title {
        margin-bottom: 4px;
        font-size: 17px;
        line-height: 24px;
        letter-spacing: 0.3px;
    }
    .work-container-text {
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 28px;
    }
    .work-list {
        margin-bottom: 11px;
    }
    .work-list-item {
        font-size: 14px;
        line-height: 22px;
    }
    .work-btns {
        font-size: 12px;
    }
    .work-btn-more {
        padding: 11px 43px
    }
    .work-btn-document {
        margin-left: 11px;
        padding: 12px 31px;
    }
    .question {
        padding: 0;
        margin-bottom: 40px;
    }
    .question-title {
        padding-bottom: 13px;
        font-size: 23px;
        line-height: 29px;
        letter-spacing: 0.5px;
    }
    .question-pick-link {
        font-size: 14px;
        font-weight: 400;
    }
    .question-pic-link:nth-child(2) {
        margin-left: -5px;
        padding-top: 21px;
        padding-bottom: 22px;
        padding-right: 63px;
        font-size: 16px;
        line-height: 24px;
    }
    .question-pic-link:nth-child(3) {
        margin-left: -5px;
        padding-top: 22px;
        padding-bottom: 21px;
        padding-right: 72px;
        font-size: 16px;
        line-height: 24px;
    }
    .question-pic-link:nth-child(4) {
        margin-left: -5px;
        padding-top: 22px;
        padding-bottom: 21px;
        padding-right: 72px;
        font-size: 16px;
        line-height: 24px;
    }
    .question-pic-link:nth-child(5) {
        margin-left: -5px;
        padding-top: 22px;
        padding-bottom: 21px;
        padding-right: 48px;
        font-size: 16px;
        line-height: 24px;
    }
    .question-pic-link:nth-child(6) {
        margin-left: -5px;
        padding-top: 22px;
        padding-bottom: 21px;
        padding-right: 48px;
        font-size: 16px;
        line-height: 24px;
    }
    .question-pic-link:nth-child(2)::before {
        top: 32px;
        right: -18px;
        width: 43px;
        height: 43px;
        background-size: 70%;
    }
    .question-pic-link:nth-child(3)::before {
        top: 44px;
        right: -18px;
        width: 43px;
        height: 43px;
        background-size: 70%;
    }
    .question-pic-link:nth-child(4)::before {
        top: 44px;
        right: -18px;
        width: 43px;
        height: 43px;
        background-size: 70%;
    }
    .question-pic-link:nth-child(5)::before {
        top: 44px;
        right: -18px;
        width: 43px;
        height: 43px;
        background-size: 70%;
    }
    .question-pic-link:nth-child(6)::before {
        top: 32px;
        right: -18px;
        width: 43px;
        height: 43px;
        background-size: 70%;
    }
    .submit-container {
        flex-direction: column;
    }
    .footer {
        padding: 0;
    }
    .footer-title {
        margin-bottom: 22px;
        margin-top: 24px;
        font-size: 24px;
        line-height: 29px;
    }
    .footer-middle {
        width: 100%;
    }
    .footer-input-name {
        padding: 20px 25px;
    }
    .footer-input-email {
        padding: 23px 25px;
    }
    .footer-textarea {
        padding-top: 22px;
        padding-bottom: 34px;
        margin-bottom: 24px;
    }
    .footer-btn {
        margin-right: 0;
        margin-bottom: 18px;
        padding: 13px 28px;
        font-size: 12px;
    }
    .footer-label {
        font-size: 14px;
        letter-spacing: 1px;
    }
    .footer-left {
        width: 100%;
    }
    .footer-logo {
        margin-left: auto;
        margin-right: auto;
    }
    .footer-img {
        margin-bottom: 14px;
        width: 131px;
    }
    .footer-socials {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 30px;
    }
    .footer-socials-link {
        width: 43px;
        height: 43px;
    }
    .footer-socials-icone:not(:last-child) {
        margin-right: 5px;
    }
    .fb {
        background-image: url(./img/footer/fb.png);
        background-repeat: no-repeat;
        background-size: 83%;
    }
    .vk {
        background-image: url(./img/footer/vk.png);
        background-repeat: no-repeat;
        background-size: 83%;
    }
    .insta {
        background-image: url(./img/footer/insta.png);
        background-repeat: no-repeat;
        background-size: 83%;
    }
}


